.card-section{
    background-color: #ffa5005e;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.card-content{
    
    width: 70%;
    margin: auto;
}

.card-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    padding: 10px 12px;


    
}
.card-item{
    background-color: #ededed;
    text-align: center;
    padding-bottom: 20px;   
    border-radius: 8px;
    
}
.card-img{
    padding: 20px;

}
.card-img img{
    width: 100px;
}
.item-name{
    color: #191956;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 500;
    
}
.item-occupation{
    color: #191956;
    text-transform: capitalize;
    font-size: 18px;
    
}
.item-age{
    color: #191956;
}
@media screen and (max-width: 1024px) {
    
}


@media screen and (max-width: 512px) {
    .card-section{
        height: 100%;
        background-color: #ffa5005e;

    }
    
    .card-items{
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
}
