.card-section{
    background-color: #ffa5005e;
    height: 100vh;
    
}

.card-content{
    
    width: 70%;
    margin: auto;
    padding: 100px 0;
}

.card-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    padding: 10px 12px;


    
}
.card-item{
    /* border: 2px solid #fff; */
    background-color: rgb(219, 224, 232);
    text-align: center;
    padding-bottom: 20px;   
    border-radius: 5px;
    box-shadow:  -5px -5px 10px #d3d3d3,
             5px 5px 10px #ededed;
}
.card-img{
    padding: 20px;

}
.card-img img{
    width: 100px;
}
.item-name{
    color: #191956;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 500;
    
}
.item-occupation{
    color: #191956;
    text-transform: capitalize;
    font-size: 18px;
    
}
.item-age{
    color: #191956;
}
@media screen and (max-width: 1024px) {
    
}


@media screen and (max-width: 512px) {
    .card-section{
        height: 140vh;
        background-color: #ffa5005e;

    }
    
    .card-items{
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
}
